[submodule "spring-microservices"]
	path = spring-microservices
	url = https://github.com/omerekmen/turkcell-spring-microservices.git
[submodule "telco-crm"]
	path = telco-crm
	url = git@github.com:omerekmen/turkcell-telco-crm.git
